{% extends 'stores/base.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-3 mt-2">
        <img class="thumbnail" src="{{ product.imageURL }}" alt="">
        <div class="box-element product">
            <h6><strong>{{ product.name }}</strong></h6>
            <hr>
            <p>{{ product.description }}</p>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add cart</button>
            <h4 styles="display: inline-block; float: right;">Ksh.{{ product.price|floatformat:2 }}</h4>
        </div>
    </div>
    
    
{% endblock content %}