{% extends "stores/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Sign In</legend>
        </fieldset>
        {{ form|crispy }}
        <div class="form-group">
           <button class="btn btn-outline-info">Login</button>
        </div>

    </form>
    <div class="border-top mb-4">
        <small class="muted-text">
            Don't have an accoun <a href="{% url 'register' %}"></a>
        </small>
    </div>
</div>

{% endblock content %}